<!DOCTYPE html>
<html>
  <head>
    <title>EMPTY</title>
    </head>
<body>

<h1>About something</h1>
<p>Blah blah about</p>

<a href="index.ejs">Home</a>

  <form action="/about" method="POST"><br>
    <input type="text" name="information">Syötä jotakin: </input>
    <input type="submit"/>
  </form>

</body>
</html>
