<!DOCTYPE>
<html>
<!--Sama kuin nav -->
<%- include('./partials/head.ejs')%>
<body>

<h1>Create blah</h1>
<p>My first paragraph.</p>

<!--T채n nav miss채 voi voidaan avata muita sivustoja eli ahref about, blog ja jne -->
<%- include('./partials/nav.ejs')%>

    <div class="create-blog content">
      <form action/"blogs" method="POST">
      <label for="title">Otsikko</label>
      <input type="text" id="title" name="title" required/>

      <label for="snippet">Snippet:</label>
      <input type="text" id="snippet" name="snippet" required/>

      <label for="body">Kirjoitus:</label>
      <textarea id="body" required name="body"></textarea>
      <button>L채het채</button>
      </form>
    </div>


      <%- include('./partials/footer.ejs')%>
</body>
</html>
