<!--Contract page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">
<!--Contract sivu

Riitt채채 vain lis채채 sijainnin eli kaupunki, maa
puh. +358 44 1234 5678
email: blah@outlook.com

 -->

<!-- valikkot home/about/ ja jne-->
<main>

  <div class="jumbotron">
    <h1>Yhteystiedot</h1>
    <p>Tantta Mynthix</p>

    <ul>
    <li><i class="bi bi-phone"> +358 45 1234 5678</i></li>
    <li><i class="bi bi-mailbox"></i> Blah@outlook.com</li>
    <li><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/" target="_blank"> Linkedin Profile </a> </li>
    <li></li>

    </ul>

  </div>
</main>

<!-- Copyright homma-->
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
