<!DOCTYPE html>
<!-- This is skills home page -->
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<!-- valikkot navbar home/about/ ja jne-->
<header>
  <%- include('../partials/header'); %>
</header>
<!-- Skills page:
- omat it taidot, eli c#, python, ja jne. Taitojen prosenttisuus tai tähti muotoiset kuten 3/5 tai muu palikka näköinen

- jotkain sovellusta mitä käytetty kouluskin esim (katso tarviikko) kuten Unity, VSCode, Android & Visual Studio, Cisco packet tracer, Adobe & Autodesk ja jne.

- it taidot (microsoft office, cmd, linux, apache ja jne.

 -->

<!-- jotakin oma laatikko esitys tässä esitetty abc ja toisessa on xyz tekstiä ja aihetta & stats jokinlainen grafiikka ja omat typerät värit prosenttisuus -->
  <div class="jumbotron">
    <h1>Skills</h1>
    <h3>Programming languages</h3>
    <ul>
      <li>C# 3/5</li>
      <li>Nodejs 3/5</li>
      <li>HTML-CSS-JS 2/5</li>
      <li>Google 4/5</li>
      <li>Linux 3.5/5</li>
    </ul>
  </div>

  <div class="jumbotron">
    <h1>Software</h1>
    <ul>
      <li>Unity</li>
      <li>Cisco Packet tracer</li>
      <li>Adobe</li>
      <li>Android & Visual Studio</li>
      <li>Putty</li>
    </ul>
  </div>

<!-- Copyright homma-->
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
