<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa {
  padding: 12.5px;
  font-size: 20px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 12.5px 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

</style>

<p style="text-align:center;">Ota yhteyttä <br>
<a href="Blah@gmail.com">Blah@gmail.com</a></p>

<p class="text-center text-muted">&copy; Copyright 2018 - 2021 Pälä pälä</p>
<!-- copy right blah blah -->

<!-- social media logos & icons-->
<div style="text-align: center">
  <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>

  <a href="#" class="fa fa-facebook"></a>

  <a href="#" class="fa fa-youtube"></a>

  <a href="#" class="fa fa-instagram"></a>

  <a href="#" class="fa fa-snapchat-ghost"></a>

  <a href="#" class="fa fa-reddit"></a>
</div>
