<!-- Nav bar  blah blah -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mynthix <p><small>Kotisivu</small></p>
  </a>
  
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>

  </ul>

<!-- malli toinen navbar palikka -->
  <ul class="navbar-nav mr-auto2">
    <li class="nav-item">
      <a class="nav-link" href="/contract">Contract</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/skills" aria-haspopup="true" aria-expanded="false">Skills</a>

    <ul class="sub nav-item">
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/skills">IT Stats</a>
        <a class="dropdown-item" href="/hamk">HAMK</a>
        <a class="dropdown-item" href="/amis">Amis</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://www.hamk.fi/amk-tutkinto/tieto-ja-viestintatekniikka-insinoori-amk//" target="_blank">HAMK ICT tutkinto</a>

      </div>
    </ul>
      
    </li>
    
    <!--Muu -->
    <li class="nav-item">
      <a class="nav-link" href="/other">Other</a>
    </li>

  </ul>



</nav>
