<!-- Rekisteröinti sivusto-->
<h2>Register</h2>
<form action="/register" method="POST">

  <div>
      <label for="name">Nimi</label>
      <input type="text" id="name" name="name" required>
    </div>

  <div>
      <label for="email">Sposti</label>
      <input type="email" id="email" name="email" required>
    </div>

  <div>
      <label for="password">Salasana</label>
      <input type="password" id="password" name="password" required>
    </div>  

  <button type="submit"> Rekisteröi</button>

</form>
<!-- kuin url linkki avaa olemassa olevan tiedoston js -->
<a href="/login">Login</a>