<!-- About pages -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header', {variant: 'compact'}); %>
</header>
<body class="container">

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This is About</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Hei! Katso tänne!</h3>
        <p>Pilasitko mun ruokahaluni?</p>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>