<!--Blog page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">

<!-- valikkot home/about/ ja jne-->
<main>
  <div class="jumbotron">
    <h1>Blog pages</h1>
    <p>Welcome to read Blogs stories</p>
    <img src="/images/img-space1.jpg" alt="SomeSpace" width="360" height="300"></img> 
  </div>
</main>

<!-- Copyright homma-->
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>